.flash {
  width: 360px;
  height: 20px;
  border-radius: 15px;
  margin: 16px 0;
  background-color: grey;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
  }
}
